@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $tablet) {
      @content;
    }
  }
}