$primary-color: #FFE81F;
$secondary-color: #000000;
$text-color: #FFFFFF;
$hover-color: #FFC500;
$text-muted: #AAAAAA;
$footer-bg: #0a0a0a;
$footer-border: #1a1a1a;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;