@use '../abstracts';

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: abstracts.$text-color;
    text-align: center;
}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    text-shadow: 0 0 20px rgba(255, 232, 31, 0.5);
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.subtitle {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: abstracts.$text-color;
    opacity: 0.8;
}